In [594]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler

In [595]:
train_data = pd.read_csv("./data/train.csv")
test_data = pd.read_csv("./data/test.csv")

In [596]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [597]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [598]:
#print(train_data.Ticket.value_counts())
#print(train_data.Cabin.value_counts())
print(train_data.Sex.value_counts())
print(train_data.Embarked.value_counts())

male      577
female    314
Name: Sex, dtype: int64
S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [599]:
train_data.Sex.replace({'male' : 0, 'female': 1}, inplace=True)
train_data.Embarked.replace({'S' : 0, 'C' : 1, 'Q' : 2}, inplace=True)
print(train_data.Sex.value_counts())
print(train_data.Embarked.value_counts())

test_data.Sex.replace({'male' : 0, 'female': 1}, inplace=True)
test_data.Embarked.replace({'S' : 0, 'C' : 1, 'Q' : 2}, inplace=True)

0    577
1    314
Name: Sex, dtype: int64
0.0    644
1.0    168
2.0     77
Name: Embarked, dtype: int64

In [600]:
# train_data.hist(bins=50, figsize=(20,15))

In [601]:
corr_matrix = train_data.corr()
corr_matrix["Survived"].sort_values(ascending=False)

Survived       1.000000
Sex            0.543351
Fare           0.257307
Embarked       0.108669
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

In [602]:
# key_features = ["Survived", "Sex", "Fare", "Embarked", "Pclass"]
# scatter_matrix(train_data[key_features], figsize = (24, 16))

In [603]:
# train_data_missing_age = train_data[train_data['Age'].isna()]
# corr_matrix_missing_age = train_data_missing_age.corr()
# corr_matrix_missing_age["Survived"].sort_values(ascending=False)
median_age = train_data['Age'].median()
train_data['Age'].fillna(median_age, inplace=True)

test_data['Age'].fillna(median_age, inplace=True)

#train_data.describe()

In [604]:
# train_data_missing_embarked = train_data[train_data['Embarked'].isna()]
mode_embarked = train_data['Embarked'].mode()[0]
train_data['Embarked'].fillna(mode_embarked, inplace=True)

test_data['Embarked'].fillna(mode_embarked, inplace=True)

# train_data.describe()

In [605]:
# test_data_missing_fare = test_data[test_data['Fare'].isna()]
# test_data_missing_fare
median_fare_by_class = train_data.groupby("Pclass")["Fare"].median()
train_pclass_values = sorted(train_data['Pclass'].unique())
test_pclass_values = sorted(test_data['Pclass'].unique())

for i in train_pclass_values:
    train_data.loc[train_data['Pclass'] == i, 'Fare'] = train_data.loc[train_data['Pclass'] == i, 'Fare'].fillna(median_fare_by_class.loc[i])

for i in test_pclass_values:
    test_data.loc[test_data['Pclass'] == i, 'Fare'] = test_data.loc[test_data['Pclass'] == i, 'Fare'].fillna(median_fare_by_class.loc[i])

test_data.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,2.265550,0.363636,29.805024,0.447368,0.392344,35.561214,0.464115
std,120.810458,0.841838,0.481622,12.667969,0.896760,0.981429,55.856789,0.685516
min,892.000000,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,0.000000,23.000000,0.000000,0.000000,7.895800,0.000000
50%,1100.500000,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,0.000000
75%,1204.750000,3.000000,1.000000,35.750000,1.000000,0.000000,31.471875,1.000000
max,1309.000000,3.000000,1.000000,76.000000,8.000000,9.000000,512.329200,2.000000

In [606]:
std_scaler = StandardScaler()
train_data[["Fare"]] = std_scaler.fit_transform(train_data[["Fare"]])

test_data[["Fare"]] = std_scaler.fit_transform(test_data[["Fare"]])

In [607]:
# print(train_data.describe())
# print(test_data.describe())

In [608]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

key_features = ["Sex", "Fare", "Embarked", "Pclass", "Age", "SibSp", "Parch"]
X = pd.get_dummies(train_data[key_features])
X_test = pd.get_dummies(test_data[key_features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('./data/submission2.csv', index=False)